include README.md
include LICENSE
include pyproject.toml

recursive-include tactopro/assets *

global-exclude *.pyc
global-exclude .DS_Store
global-exclude Thumbs.db
prune __pycache__
prune *.egg-info
prune build
prune dist